<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tp2 Intro Desarrollo de Software</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css') }}">
</head>

<body>
    <h1>Productos</h1>
    <div></div>
    <ul>
        {% for prod in list %}
        {% if prod.stock %}
        <li> {{ prod.name }} </li>
        {% else %}
        <li style="color: grey"> {{ prod.name }} </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>